$cor-principal: #e01d25;/* Cor Principal do site */
$background-cform: rgba(247, 247, 247, 0.137);/* Backgroud hover dos campos form */
$bordercolor-cform: rgb(100, 100, 100);/* Borda hover dos campos form */
$t-transicao: 300ms;/* Tempos de transição hover dos campos */